/* Landing jsx */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif; */
  font-family: CabinetGrotesk-Variable;
}

::selection {
  background: black;
  color: white;
}



.container-landing {
  position: absolute;
  width: 100%;
  height: 200vh;
  background-color: white;
  overflow: hidden;
  z-index: 100;
  mix-blend-mode: screen;
}

.front {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  /* background-color: white; */
  
}




.landing-header {
  overflow: hidden;
  height: 100%;
}

.headerlandcont {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.front h1 {
  font-size: 19vw;
  padding: 0 5%;
  display: flex;
  
  scale: 1;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family: CabinetGrotesk-Bold;
}

.front h1 span {
  font-family: Arial, Helvetica, sans-serif;
}
/* Header jsx */

header {
  width: 100%;
  height: 200vh;
  
  position: relative;
  
}

header img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: sticky;
  top: 0;
}

/* Paralax jsx */

.paralax {
  width: 100%;
  min-height: 100vh;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  background-color: #f9f4ef;
}

.card {
  width: 35vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  max-height: 40vw;
  object-fit: cover;
}

.cardText {
  padding: 5% 0;
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card p {
  margin-top: 20px;
  font-size: 25px;
}

/* About jsx */

.about {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Overlap jsx */

.sticky-container {
  width: 100%;
  height: auto;
  position: relative;
}

.sticky-page {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #1a1a1a;
  color: white;
  
}

.sticky-page:nth-child(2) {
  background-color: #222222;
}

.sticky-page:nth-child(3) {
  background-color: #2e2c2c;
}

.sticky-page:nth-child(4) {
  background-color: #353434;
}


.sticky-about {
  width: 100%;
  height: 80vh;
  padding: 3% 7%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.sticky-about-header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7%;
  font-size: 50px;
}

.sticky-about img {
  width: 50%;
  height: 70vh;
  object-fit: cover;
}

.sticky-about p {
  font-size: 25px;
  margin-top: 20px;
  width: 40%;
}

/* Sticky Page 2 */

.sticky-two {
  width: 100%;
  min-height: 100vh;
  background-color: #f9f4ef;
  color: black;
  display: flex;
  position: relative;
}

.sticky-two aside {
  width: 50%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7%;
}

.sticky-two aside h1 {
  width: 100%;
  font-size: 50px;
  text-align: start;
}

.sticky-two aside p {
  font-size: 25px;
  margin-top: 20px;
}

.sticky-two article {
  
  width: 50%;

}

.sticky-two article img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.sticky-two-header {
  height: 20vh;
  width: 100%;
  background-color: #f9f4ef;
}

.sticky-two-header h1 {
  font-size: 100px;
  margin-left: 7%;
}

/* Last jsx */

.last-page {
  width: 100%;
  height: 100vh;
  background-color: #f9f4ef;
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  padding: 7%;
}

.last-page hr {
  height: 100%
}

.last-page p {
  font-size: 25px;
  padding: 3%;
}

/* Footer jsx */

footer {
  width: 100%;
  min-height: 60px;
  background-color: #f9f4ef;
  color: black;
  padding: 0 7%;
  display: flex;
  flex-direction: row;
}

.footer-aside{
  width: 100%;
  height: 100%;
}

.footer-aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
}

footer h1 {
  font-size: 25px;
}



